.score-board {
  position: relative;
  background-color: white;
  width: 1000px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.team-name {
  display: inline-block;
  float: left;
  line-height: 60px;
  font-size: 32px;
  margin-left: 170px;
}

.score {
  float: left;
  margin-left: 12px;
}

.previous {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid black;
}

.next {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid black;
}
